/* Write your CSS here */
.planets-div {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.image-deco {
  height: 200px;
  width: 300px;
}

.text-deco {
  color: white;
}
